/*------------------------------------*\
    #TABLE-OF-CONTENTS
    When in doubt, follow http://cssguidelin.es/
\*------------------------------------*/


/*------------------------------------*\
    #IMPORTS
\*------------------------------------*/
@import "_1_base/base";
@import "_2_helpers/helpers";
@import "_3_vendor/vendor";
@import "_4_redefine/redefine";
@import "_5_layout/layout";
@import "_6_pieces/pieces";
@import "_7_pages/pages";


// BODY
body {
	font-family: $body-copy;
}

.background {
  width: 100%;
  max-height: 500px;
  object-fit: cover;
	vertical-align: middle;
}

// MAIN
main {
  background-color: $beige;
  background-image: url(../img/flower-overlay.png);
  background-blend-mode: overlay;
	color: $maroon;
	padding: 2em;
}

.column-wrapper {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto;
	grid-gap: 15px;
	padding-top: 1em;
	width: 80%;
	margin: auto;

	@include breakpoint(small) {
		grid-template-columns: 1fr 1fr;
	}
}

// CARDS
.card-wrapper {
	width: 100%;
	display: flex;
	grid-area: card;

	&.threading {
		color: $beige;
		background-color: $maroon;
	}

	&.booking {
		color: $maroon;
		background-color: $beige;
	}

	.card {
		width: 100%;
		display: flex;

		.card-content {
			padding: 2em;
			align-self: center;

			p {
				padding: 1em;

				a {
					color: $red;
				}

				:hover {
					color: $red-black;
				}
			}
		}

		.card-image {
			width: 45%;
			max-width: 467px;
			display: none;

			@include breakpoint(portrait) {
		    display: flex;
		  }

			img {
				object-fit: cover;
				overflow: hidden;
			}
		}
	}
}

// SALON SERVICES MAIN
.salon-services-wrapper,
.spa-services-wrapper {
	background-color: $beige-overlay;
	padding: 1em;
	box-shadow: 3.3px 2.3px 5px 0 rgba(149, 134, 134, 0.75);
	color: $maroon;
	text-align: center;
	max-width: 576px;

	@include breakpoint(small) {
		text-align: left;
		width: 75%;
		position: relative;
		margin-bottom: 50px;
    left: 40px;
    top: 20px;
	}

	h1 {
		letter-spacing: 3.5px;
		padding-bottom: .5em;
	}

	h2 {
		padding-top: 1em;

	}

	.spa-services-column-wrapper {
		width: 85%;
    margin: auto;

		@include breakpoint(small) {
			display:flex;
		}

		.spa-services-column {

			@include breakpoint(small) {
				width: 50%;
			}

			li {
			list-style: none;
			padding: 5px 0;
			}
		}
	}
}

.salon-services-column {
	width: 85%;
	margin: auto;

	li {
	list-style: none;
	padding: 5px 0;
	}
}

// CARDS
.margin-auto {
	@include breakpoint(portrait) {
		width: 75%;
		margin: auto;
	}
}
.card-package-wrapper {
	@include breakpoint(small) {
		margin-top: -25%;
	}
}

.package-wrapper {
	margin-top: 50px;
	width: 100%;
	color: $beige;
	text-align: center;

	@include breakpoint(portrait) {
		max-width: 733px;
	}

	&.maroon {
		background-color: $maroon;
	}

	&.red {
		background-color: $red;
	}

	.package {
		@include breakpoint(portrait) {
			display: flex;
		}
	}

	.package-image {
		@include breakpoint(portrait) {
			overflow: hidden;
	    display: flex;
			width: 100%;
			max-width: 271px;
		}

			img {
			width: 100%;
			max-height: 350px;
			object-position: top;
			object-fit: cover;

			@include breakpoint(portrait) {
				width: 271px;
			  align-self: center;
			  object-fit: cover;
			}
		}
	}

	.package-content {
		padding: 1em;
		align-self: center;

		p {
			padding: 10px 0;
		}
	}
}
