/*------------------------------------*\
    #FORM
\*------------------------------------*/
input[type=text],
input[type=email],
input[type=url],
input[type=phone],
textarea {
	border: none;
	box-shadow: none;
	outline: none;
	text-shadow: none;

	&:hover {
		outline: none;
	}

	&:focus {
		box-shadow: none;
		outline: none;
		text-shadow: none;
	}

	&.searchTerm {
		border: none;
	  box-shadow: none;
	  display: inline-block;
	  background: transparent;
		color: $red;

		&::-webkit-input-placeholder {
			color: $red;
			font-style: italic;
		}
	}
}

// FORM
.form-field {
	padding: 0 10px;
}

.names {
	width: 49%;
	display: inline-block;
}

label {
	display: block;
	font-family: $san-serif;
	position: relative;
	top: 20px;
	transition: top 0.5s ease-in-out;
	pointer-events: none;

	&.out-of-the-way {
		top: 0;
	}
}

input[type="text"],
input[type="email"] {
	background-color: $pink;
	border-bottom: $red-black solid 1px;
	padding: .5em;
	width: 100%;
  margin: auto;
	box-sizing: border-box;
	font-family: $san-serif;
	color: $beige;
	font-size: 1em;
}

.submit-btn {
	padding: 20px;

	input[type="submit"] {
		background-color: $maroon;
	  font-family: $san-serif;
		color: $beige;
		font-size: .8em;
		letter-spacing: 3.5px;
	  text-transform: uppercase;
	  padding: 10px;
	}
}

// SEARCH BAR
.search-bar {
	padding: 1em;

	@include breakpoint(portrait) {
		width: 50%;
		padding-top: 10%;
		margin: auto;
	}

	@include breakpoint(landscape) {
		width: 75%;
	}
}

.search {
	display: flex;
	border-radius: 3px;
	padding: 4px 55px 4px 15px;
	position: relative;
	background: $beige;
	border: 1px solid #ddd;
	overflow: hidden;

	.searchButton {
		position: absolute;
    right: 2px;
    top: 2px;
    border-radius: 3px;
    padding: 5px 10px;
		background: none;

		.icon {
			fill: $red;
			max-width: 25px;
			max-height: 25px;
		}
	}
}
