/*------------------------------------*\
    #HEADER
\*------------------------------------*/


/*------------------------------------*\
    #NAV
\*------------------------------------*/
// HOME NAVIGATION
.mobile-home-nav {
	font-family: $san-serif;
	background-color: $beige-overlay;
	width: 100%;
	padding-bottom: 1em;

	@include breakpoint(portrait) {
		display: none;
	}

	ul {
		text-align: center;
		justify-content: center;
		align-items: center;

		li {
			text-transform: uppercase;
			list-style: none;
			padding: 5px 20px;

			a{
				color: $maroon;
				text-decoration: none;

				&.current-page {
					color: $beige;
					text-shadow: 0 3px 4px rgba(31, 31, 31, 0.75);
				}

				img {
					max-width: 250px;
					width: 25%;
				}
			}
		}
	}
}

.home-nav {
	font-family: $san-serif;
  background-color: $beige-overlay;
  width: 100%;
  max-height: 90px;
  position: absolute;
  top: 50px;
  left: 0;
	display: none;

	@include breakpoint(portrait) {
		display: flex;
	}

  ul {
		width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    max-height: 55px;

    li {
      text-transform: uppercase;
      list-style: none;
      padding: 0 20px;

			:hover {
				color: $beige;
			}

      a{
        color: $maroon;
        text-decoration: none;

				&.current-page {
					color: $beige;
					text-shadow: 0 3px 4px rgba(31, 31, 31, 0.75);
				}

        img {
					width: 100%;
          max-width: 250px;
        }
      }
    }
  }
}

// ----- SALON SERVICES ----- //
.pages-nav {
	width: 100%;

	@include breakpoint(small) {
		display: flex;
	}

	a {
		&#current-page{
			text-shadow: 0 3px 4px rgba(31, 31, 31, 0.75);
		}

		img {
			width: 25%;
			max-width: 142px;

			@include breakpoint(small) {
				width: 75%;
			}
		}
	}

	ul {

		@include breakpoint(small) {
			display: flex;
		}

		li {
			list-style: none;
			padding: 10px 0;

			@include breakpoint(small) {
				align-self: center;
    		padding: 0 10px;
			}

			:hover {
				color: $beige;
			}

			a {
				text-decoration: none;
				font-family: $san-serif;
				color: $maroon;
				text-transform: uppercase;

				&#current-page {
					color: $beige;
				}
			}
		}
	}
}
